.appContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-primary);
}

@media (max-width: 768px) {
  .appContainer {
    flex-direction: column-reverse;
  }
}
